{% load i18n localeurl_tags %}
<p>{% blocktrans %}Hi {{ user }},{% endblocktrans %}</p></br>
<p>{% blocktrans %}{{ applicant }} has applied to join the {{ team.name }} team, and has included the following message:{% endblocktrans %}</p>
<p>{{ note|linebreaks }}</p><br/>
<a href="{{url_base}}{% url "teams:approve_application" slug=team.slug application_pk=application.pk %}">{% trans 'Approve' %}</a> or 
<a href="{{url_base}}{% url "teams:deny_application" slug=team.slug application_pk=application.pk %}">{% trans 'deny' %}</a> {% trans 'this request' %}.
